#mainPopup {
  width: 700px;
  font-size: 1em;
}


.word {
}

.furi {
  display: inline-block;
  width: 100px;
}

.kanji {
  display: inline-block;
  width: 100px;
}

.meaning {
  display: inline-block;
  width: 480px;
}

.remove {
  display: inline-block;
  width: 20px;
}
